.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}

.dropdown-toggle {
  padding: var(--padding-medium);
  background: var(--dark-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-medium);
  cursor: pointer;
}

.dropdown-toggle:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
}

.dropdown-toggle.error {
  border-color: var(--danger-color);
  box-shadow: 0 0 4px var(--danger-color);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background: var(--dark-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  padding: var(--padding-medium);
  cursor: pointer;
}

.dropdown-item:last-child {
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
}

.dropdown-item:first-child {
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}

.dropdown-item:hover {
  background: var(--primary-color);
  color: white;
}

.clear-option {
  background-color: var(--dark-muted);
  border-bottom: 1px solid var(--secondary-color);
}