.adCard {
    display: flex;
    width: calc(50% - 24px);
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
  }
  
  .details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .adCard__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .adCard__image-placeholder {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    border-radius: 8px;
  }
  
  .name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .location, .type, .price {
    font-size: 1rem;
    color: var(--color-text-secondary);
  }
