.pagination {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  
  .pagination-button {
    padding: var(--padding-small);
    background: var(--dark-color);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius-small);
    cursor: pointer;
  }
  
  .pagination-button.active {
    background: var(--primary-color);
    color: white;
  }
  
  .pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  