.ad {
  max-width: 800px;
  margin: auto;
  padding: 20px;

  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-light);
}

.ad h1 {
  font-size: var(--font-20);
  margin-bottom: 20px;
}

.ad__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.not-found {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}